{% extends 'admin_base.html' %}

{% block body %}
   
<!-- <br><br><br> -->

<!--

<div class="container card shadow-lg mt-5 card p-4 col-3" style="background-color: rgb(247, 251, 250);" >
    <form method="POST" action="">
        <h2> <b>Admin Login </b></h2><hr>

        {% csrf_token %}
        {% if messages %}
        {{message.tags}}
      <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><b>UserName</b></label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
          <div id="emailHelp" class="form-text">Enter Your UserName As It Is</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">clear</button>
      </form>
    
      
      
</div>html

-->

<!--Login form -->

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
          
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
      
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your bookings</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body bg px-4 py-5 px-md-5">
            <form method="POST" action="" >
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <h2 class="text-center"> <b> ADMIN LOGIN </b></h2><hr>

              {% csrf_token %}
              {% if messages %}
              {{message.tags}}
            <div class="alert alert-primary" role="alert">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
              </div>
              {% endif %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" ><b>UserName</b></label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter UserName" >
                <div id="emailHelp" class="form-text" >Enter Your UserName As It Is</div>
              </div>
              <!-- <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div> -->
                
            
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
                <div class="input-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                    placeholder="Enter Password">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <input type="checkbox" onclick="showPassword()"> Show Password
                    </span>
                  </div>
                </div>
              </div>



              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>
              

              <!-- Submit button -->
             
              <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
              <button type="reset" class="btn btn-danger btn-block mb-4">clear</button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->


<script>
  function showPassword() {
    var passwordInput = document.getElementById("exampleInputPassword1");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>



<!-- <br><br><br><br><br><br> -->


{% endblock body %}

{% block css %}






{% endblock css %}
